
/*importando fonte externa*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: Raleway;
    text-align: center; 
}

/* estilo cabecalho */

.banner{
    margin: auto;
    width: 100%;
    height: 605px;
    padding: 1px;
    border-bottom: 1px solid #33A8DB;
    background-image: url(../../assets/images/banner.png), radial-gradient(circle,  rgb(29, 55, 66), rgb(0,0,0) 99% );
    background-repeat: no-repeat;
}

.banner-content{
    color: #fff; 
    width: 510px;
    height: 393px;
    margin: auto;
    text-align:center;
    display: grid;
    gap: 16px;
}

.logo{
    margin: 54px auto 0;
    width: 268px;
    height: 268px;
    background: rgba(0, 0, 0, .1);  
    border-radius: 50%;
}

.logo > img{
    width: 248px;
    height: 214px;
    background-repeat: no-repeat;
    margin: 20px auto;    
}


.banner-content h1{
    text-transform: uppercase;
    color: #33A8DB;
    font-weight: 900;
    font-size: 40px;
    line-height: 46.96px;
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.banner-content > button{
    width: 326px;
    height: 57px;
    margin: auto;
    font-weight: 900;
    color: #33A8DB;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 21%;
    text-align: center;    
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
}

.banner-content > p{
    font: Raleway;
    width: 514px;
    height: 46px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
    word-break: break-all;
}


/* estilo main */

main {
    margin: 0 auto;
    width: 100%;
    padding: 1px;
    background: #000;
    color: #fff;
}

main > #course-content{
    width: 792px;
    height: 355px;
    margin: 69px auto;
    display: grid;
    gap: 24px;

}

main > #course-content > h2{
    width: 477px;
    height: 38px;
    margin: auto;
    text-transform: uppercase;
    color: #33A8DB;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 19%;

}

main > #course-content > p{    
    width: 792px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
}

#course-content > .modules-list > .module{
    width: 535px;
    height: 57px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    border-radius: 57px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    
}

#course-content > .modules-list > .module > p {
    margin: 20px;
    color: #fff;
}

#course-content > .modules-list > .module > p > span{
    color: #33A8DB;
}

#transform-world{
    height: 363px;
    border-top: 1px solid #33A8DB;
    border-right: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    background: url(../../assets/images/woman-code.png) no-repeat fixed center bottom;  
    /*position: center bottom;*/
    opacity: 90%;
    margin: 2500px, auto;
    background-size: 140%, 200%;
    
    /*object-fit: cover;*/
}
/*cover
#transform-world > img{
    max-width: 1140px;
    max-height: 363px;
    background: url(../../assets/images/woman-code.png);  
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto auto;
}
/*

/* estilo footer */

footer{

    color: #fff;
    margin: auto;
    width: 100%;
    padding: 1px;
    border-top: 1px solid #33A8DB;
    background: #000;

}
